@charset "UTF-8";
/* CSS Document */

#alert-banner{
margin: 0 auto;
width: 950px;
padding: 30px 20px;
color: #fff;
position: relative;
display: none;
font-size: 14px;
background: url(../img/screen-grab.jpg) right top no-repeat;
-moz-box-shadow:    inset 0 0 25px rgba(0,0,0,0.6);
-webkit-box-shadow: inset 0 0 25px rgba(0,0,0,0.6);
box-shadow:         inset 0 0 25px rgba(0,0,0,0.6);
   }

#alert-banner.persist{
	display: block;
}
#alert-banner a,
#alert-banner a:hover{
	color: #fff!important;
}
#alert-banner #close-button{
	position: absolute;
	top: 30px;
	right: 20px;
}

