@charset "UTF-8";
/* CSS Document */



/* ----- compressed html5 reset style sheet ----- */
/* ----- compressed html5 reset style sheet ----- */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0;font-size:13px;line-height:1.231}body,button,input,select,textarea{font-family:sans-serif;color:#222}::-moz-selection{background:#fe57a1;color:#fff;text-shadow:none}::selection{background:#fe57a1;color:#fff;text-shadow:none}a{color:#00e}a:visited{color:#551a8b}a:hover{color:#06e}a:focus{outline:thin dotted}a:hover,a:active{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}ins{background:#ff9;color:#000;text-decoration:none}mark{background:#ff0;color:#000;font-style:italic;font-weight:bold}pre,code,kbd,samp{font-family:monospace,monospace;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:"";content:none}small{font-size:85%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}h1,h2,h3,h4,p{margin-top:0px}ul,ol{margin:1em 0;padding:0 0 0 40px}dd{margin:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0}img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:0;margin:0;padding:0}label{cursor:pointer}legend{border:0;*margin-left:-7px;padding:0}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal;*overflow:visible}table button,table input{*overflow:auto}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}input[type="checkbox"],input[type="radio"]{box-sizing:border-box}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top;resize:vertical}input:valid,textarea:valid{}input:invalid,textarea:invalid{background-color:#f0dddd}table{border-collapse:collapse;border-spacing:0}td{vertical-align:top}hr{visibility:hidden;background:none;overflow:hidden;display:block;font-size:0;clear:both;float:none;padding:0;border:0;margin:0;height:0;width:0}.float-left{float:left}.float-right{float:right}.ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr}.ir br{display:none}.hidden{display:none !important;visibility:hidden}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.invisible{visibility:hidden} .clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}.clearfix{zoom:1}@media only screen and (min-width:480px){ }@media only screen and (min-width:768px){ } @media print{ *{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important} a,a:visited{text-decoration:underline} a[href]:after{content:"("attr(href) ")"} abbr[title]:after{content:"("attr(title) ")"} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}  pre,blockquote{border:1px solid #999;page-break-inside:avoid} thead{display:table-header-group} tr,img{page-break-inside:avoid} img{max-width:100% !important} @page{margin:0.5cm} p,h2,h3{orphans:3;widows:3} h2,h3{page-break-after:avoid}}



/* ----- webfonts ----- */
/* ----- webfonts ----- */

/* swiss heavy */
/* swiss heavy */

/*
@font-face {font-family: 'Swiss721BT-Heavy';src: url('//www.liv.ac.uk/files/webfonts/swiss-721-heavy/eot/style_48.eot');src: url('//www.liv.ac.uk/files/webfonts/swiss-721-heavy/eot/style_48.eot?#iefix') format('embedded-opentype'),url('//www.liv.ac.uk/files/webfonts/swiss-721-heavy/woff/style_48.woff') format('woff'),url('//www.liv.ac.uk/files/webfonts/swiss-721-heavy/ttf/style_48.ttf') format('truetype'),url('//www.liv.ac.uk/files/webfonts/swiss-721-heavy/svg/style_48.svg#Swiss721BT-Heavy') format('svg');}
@font-face {font-family: 'Swiss721BT-HeavyItalic';src: url('//www.liv.ac.uk/files/webfonts/swiss-721-heavy/eot/style_49.eot');src: url('//www.liv.ac.uk/files/webfonts/swiss-721-heavy/eot/style_49.eot?#iefix') format('embedded-opentype'),url('//www.liv.ac.uk/files/webfonts/swiss-721-heavy/woff/style_49.woff') format('woff'),url('//www.liv.ac.uk/files/webfonts/swiss-721-heavy/ttf/style_49.ttf') format('truetype'),url('//www.liv.ac.uk/files/webfonts/swiss-721-heavy/svg/style_49.svg#Swiss721BT-HeavyItalic') format('svg');}
*/

@font-face {font-family: 'Swiss721BT-Heavy';src: url('//csdsite.liv.ac.uk/webfonts/swiss-721-heavy/eot/style_48.eot');src: url('//csdsite.liv.ac.uk/webfonts/swiss-721-heavy/eot/style_48.eot?#iefix') format('embedded-opentype'),url('//csdsite.liv.ac.uk/webfonts/swiss-721-heavy/woff/style_48.woff') format('woff'),url('//csdsite.liv.ac.uk/webfonts/swiss-721-heavy/ttf/style_48.ttf') format('truetype'),url('//csdsite.liv.ac.uk/webfonts/swiss-721-heavy/svg/style_48.svg#Swiss721BT-Heavy') format('svg');}
@font-face {font-family: 'Swiss721BT-HeavyItalic';src: url('//csdsite.liv.ac.uk/webfonts/swiss-721-heavy/eot/style_49.eot');src: url('//csdsite.liv.ac.uk/webfonts/swiss-721-heavy/eot/style_49.eot?#iefix') format('embedded-opentype'),url('//csdsite.liv.ac.uk/webfonts/swiss-721-heavy/woff/style_49.woff') format('woff'),url('//csdsite.liv.ac.uk/webfonts/swiss-721-heavy/ttf/style_49.ttf') format('truetype'),url('//csdsite.liv.ac.uk/webfonts/swiss-721-heavy/svg/style_49.svg#Swiss721BT-HeavyItalic') format('svg');}

/* swiss light */
/* swiss light */

@font-face {font-family: 'Swiss721GreekBT-Light';src: url('//csdsite.liv.ac.uk/webfonts/swiss-721-light/eot/style_15.eot');src: url('//csdsite.liv.ac.uk/webfonts/swiss-721-light/eot/style_15.eot?#iefix') format('embedded-opentype'),url('//csdsite.liv.ac.uk/webfonts/swiss-721-light/woff/style_15.woff') format('woff'),url('//csdsite.liv.ac.uk/webfonts/swiss-721-light/ttf/style_15.ttf') format('truetype'),url('//csdsite.liv.ac.uk/webfonts/swiss-721-light/svg/style_15.svg#Swiss721GreekBT-Light') format('svg');}



/* ----- couple of global styles ----- */
/* ----- couple of global styles ----- */

/* set the default box-sizing on all emenents*/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body, html{
	background: #e6e6e6 ;
}

#container{
	background:
		url(../img/stripe.svg) top repeat-x,
		url(../img/csd-body-bg.jpg) -20px bottom no-repeat
	;
	background-color: white;
	padding: 25px 20px;
	max-width: 1300px;
	margin: 0px auto;
	width: 90%;
}

	.no-svg #container{
		background: #fff url(../img/stripe.png) top repeat-x;
	}


/* global rule for all media to bring down to size */
img,
video
{
	height: auto!important;
	max-width: 100%;
}

/* take weird unwanted round corners and shadow off input boxes */
input{
	-webkit-appearance: none;
	border-radius: 0;
}

/* get rid of blue border on safari inputs */
input[type=text]:focus,
input[type=password]:focus {
  outline: 0 none;
}

/* links */
a{
	color: #003A81;
}

a:visited{
	color: #6689b3;
}



/* ----- responsive layout - yes/no chooser ----- */
/* ----- responsive layout - yes/no chooser ----- */


#chooser{
	background-color: #efefef;
	text-align: center;
	margin-bottom: 10px;
	padding: 10px 5%;
	display: none;
	width: 90%;
	
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.8); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.8); /* FF3.5 - 3.6 */
	box-shadow: 0px 0px 4px rgba(0,0,0,0.8); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#chooser ul,
#chooser li
{
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
}

#chooser li{
	float: left;
	width: 45%
}

#chooser li + li{
	float: right;
}

#chooser li a{
	background-color: #c59a00;
	text-decoration: none;
	text-align: center;
	padding: 5px 0;
	float: left;
	width: 100%;
	color: #fff;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#chooser ul + p{
	margin-bottom: 0;
	color: #666;
}

.large-desktop-link{
	font-size: 4em!important;
	width: auto!important;
}



/* ----- page header ----- */
/* ----- page header ----- */


#masthead{
	padding-bottom: 10px;
	position: relative;
	margin: 0 auto;
}

.ie7 #masthead{
	margin-bottom: -17px;
}
	
/* bottom border for video pages */
.video-library #masthead{
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 20px;
}


/* home link and dept link */
/* home link and dept link */

#masthead h1{
	position: relative;
	top: 5px;
}

#uni-home-link{
	background: url(../img/uni-home-link.svg) top left no-repeat;
	padding-top: 50px;
	overflow: hidden;
	display: block;
	float: left;
	width: 220px;
	height: 0px;
}

	.no-svg #uni-home-link{
		background: url(../img/sprite.png) 0 -650px no-repeat;
	}

#dept-home-link a{
	background: url(../img/dept-home-link.svg) top left no-repeat;
	padding-top: 50px;
	overflow: hidden;
	display: block;
	height: 0px;
	width: 150px
}

	.no-svg #dept-home-link a{
		background: url(../img/sprite.png) top left no-repeat;
	}


/* global navigation and search box */
/* global navigation and search box */

#global-and-search{
	position: absolute;
	width: auto;
	right: 0px;
	top: 0;
	z-index: 9999;
	/*background: white;
	border-left: 10px solid white;*/
}

.ie7 #global-and-search{
	width: 400px;
}

#global-nav ul{
	margin-bottom: 10px;
	float: right;
}

#global-nav li{
	float: left;
}

#global-nav ul li a{
	border-bottom: 1px dotted;
	text-decoration: none;
	padding-bottom: 2px;
	margin-left: 10px;
}

	.ie7 #global-nav ul li a{
		text-decoration: underline;
	}


/* padlock icon for secure links in header */  
#global-nav li a[href="https://staff.liv.ac.uk"],
#global-nav li a[href="https://student.liv.ac.uk"],
#global-nav li a[href="http://www.liverpool.ac.uk/students/index.htm"],
#global-nav li a[href="http://www.liv.ac.uk/students/index.htm"]
{
    background: url(../img/global-nav-padlock.svg) no-repeat right 0;
    padding-right: 17px;
}

	.no-svg #global-nav li a[href="https://staff.liv.ac.uk"],
	.no-svg #global-nav li a[href="https://student.liv.ac.uk"],
	.no-svg #global-nav li a[href="http://www.liverpool.ac.uk/students/index.htm"],
	.no-svg #global-nav li a[href="http://www.liv.ac.uk/students/index.htm"]
	{
		background: url(../img/sprite.png) no-repeat  right -710px;
		padding-right: 17px;
	}

#search{
	position: relative;
	width: 320px;
}

.ie7 #search{
	top: 0px;
	right: 0px;
	display: block;
	float: right;
	position: relative;
}

#search .search-input{
	border: 2px solid #e1e2e2;
	line-height: 20px;
	padding: 0px 5px;
	width: 240px;
	height: 32px;
	
	position: absolute;
	top: 0px;
	left: 0px;
}

	.ie7 #search .search-input{
		left: -10px;
	}

#search .search-button{
	position: absolute;
	background: #c59a00;
	margin-left: 6px;
	border: none;
	height: 32px;
	width: 70px;
	color: #fff;
	right: 0px;
	top: 0px;
}

	.ie7 #global-and-search{
		/*margin-right: 2px;*/
	}
	
	
	.ie7 #search{
		margin-top: -15px;
	}
	
	.ie7 #search .search-button{
		height: 36px;
	}
	
	.ie9 #search .search-button{
		height: 32px;
		/*position: relative;*/
	}


/* styles for search selector */
/* styles for search selector */

.search-select{
	background-color: #e1e2e2;
	padding: 5px 10px;
	width: 240px;
	color: #333;
	position: absolute;
	top: 32px;

	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	
	background-color: #e1e2e2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1e2e2), to(#dddddd));
	background-image: -webkit-linear-gradient(top, #e1e2e2, #dddddd);
	background-image:    -moz-linear-gradient(top, #e1e2e2, #dddddd);
	background-image:     -ms-linear-gradient(top, #e1e2e2, #dddddd);
	background-image:      -o-linear-gradient(top, #e1e2e2, #dddddd);
	background-image:         linear-gradient(to bottom, #e1e2e2, #dddddd);

	-webkit-box-shadow: 0 8px 8px -6px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 8px 8px -6px rgba(0,0,0,0.5);
	box-shadow: 0 8px 8px -6px rgba(0,0,0,0.5);
}

	.ie7 .search-select{
		background-color: #e1e2e2;
		left: -10px;
		width: 234px;
		top: 34px;
	}

.search-select label{
	line-height: 1.5em;
}

.search-select input{
	margin-right: 5px;
	-webkit-appearance: radio;
}



/* ----- navigation ----- */
/* ----- navigation ----- */


/* left hand nav */
/* left hand nav */

#site-navigation{
	width: 25%; /* 240 / 950 */
	float: left;
}

#site-navigation ul#navigation{
	margin-bottom: 20px;
}

#navigation li a{
	text-decoration: none;
	background: #e5ebf2;
	margin-bottom: 1px;
	font-size: 12px;
	display:block;
	padding: 10px;
	width: 85%;
	color: #333;
	
	text-shadow: 1px 1px 0px rgba(255,255,255,0.6);

	-webkit-transition: background 0.3s ease;
	-webkit-transition: color 0.3s ease;
	-webkit-transition: padding-right 0.3s ease;
	-moz-transition: background 0.3s ease;
	-moz-transition: color 0.3s ease;
	-moz-transition: padding-right 0.3s ease;
	-ms-transition: background 0.3s ease;
	-ms-transition: color 0.3s ease;
	-ms-transition: padding-right 0.3s ease;
	-o-transition: background 0.3s ease;
	-o-transition: color 0.3s ease;
	-o-transition: padding-right 0.3s ease;
	
}

	.ie7 #navigation li a{
		padding: 10px 5%;
		width: 75%;
	}

#navigation li a:hover{
	background: #6689b3 url(../img/navigation-hover-bg.svg) right no-repeat;
	text-shadow: 1px 1px 0px black;
	padding-right: 30px;
	color: #fff;
	width: 95%;
}

	.ie7 #navigation li a:hover{
		padding: 10px 10% 10px 5%;
		width: 80%;
	}
	
	.no-svg #navigation li a:hover{
		background: #6689b3 url(../img/navigation-hover-bg.png) right no-repeat;
	}

/* sub-navigation first item */
#navigation li span a{
	background: #003a81 url(../img/navigation-hover-bg.svg) right no-repeat;
	text-shadow: 1px 1px 0px black;
	position: relative;
	padding-right: 0;
	width: 92.5%;
	color: #fff;
}

	.ie7 #navigation li span a{
		padding: 10px 10% 10px 5%;
		width: 78%;
	}
	
	.no-svg #navigation li span a{
		background: #003a81 url(../img/navigation-hover-bg.png) right no-repeat;
	}

/* link within a sub menu */
#navigation li ul a{
	text-shadow: 1px 1px 0px rgba(255,255,255,0.6);
	background-color: #b2c4d9;
	color: #333;
	width: 85%;
}


/* active link within a sub menu */
#navigation li ul span a{
	width: 95%;
}

#site-navigation #faculty-link{
	background: url(../img/csd-home-link.svg) 0 0 no-repeat;
	padding-top: 50px;
	overflow: hidden;
	display: block;
	width: 85%;
	float: left;
	height: 0px;
}

	.no-svg #site-navigation #faculty-link{
		background: url(../img/sprite.png) 0 -60px no-repeat;
	}

	.ie7 #navigation ul .currentbranch1{
		margin-top: 0px;
		display: block;
	}


/* jump menu */
/* jump menu */

#site-navigation select,
#all-children{
	display: none;
}


/* breadcrumb */
/* breadcrumb */

#breadcrumb{
	background: #e5ebf2;
	margin-bottom: 20px;
	font-size: 11px;
	padding: 5px 10px;
	width: 75%;
	float: left;
	color: #666;
}

	.ie7 #breadcrumb{
	padding: 5px 1%;
	width: 73%
	}

#breadcrumb ul li{
	float: left;
}


/* ----- inside page body ----- */
/* ----- inside page body ----- */

#main-content{
	width: 75%;
	float: left;
}

#main-content.full-width{
	width: 100%;
}



/* central column fonts */
/* central column fonts */

.content{
	padding-right: 30px;
	width: 67.6%;
	float: left;
	color: #666;
}

.ie7 .content{
	width: 62.6%;
	padding-right: 5%;
}

.content.wide{
	margin-right: 0;
	width: 100%;
	float: none;
}
	
.content h1,
.content h2,
.content h3,
.content h4
{
	font-family: Swiss721BT-Heavy, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: black;
	clear: both;
}

.content h1{
	/*background: url(../img/microsite/horizontal-divider.png) bottom left repeat-x;*/
	border-bottom: 2px dotted #ccc;
	padding-bottom: 8px;
	margin: 0 0 10px 0;
	font-size: 185%;
	padding: 0 0 5px 0;
}
	
.content h2,
.content h3,
.content h4
{
	margin-bottom: 10px;
	margin-top:  1em;
	font-size: 143%;
}

	/* webfonts looks pretty ropey in IE7 so get rid.... */
	.ie7 h2,
	.ie7 h3,
	.ie7 h4
	{
		font-family: Arial, Helvetica, sans-serif!important;
		font-weight: bold!important;
	}

.content h1 + h2,
.content h2 + h3{
	margin-top: 0;
}

.content h3{
	font-size: 115%;
}

.content h4{
	font-style: italic;
	font-size: 100%;
}

.content p{
	margin-bottom: 1em;
	font-size: 14px;
	font-size: 16px;
}

.content ul,
.content ol
{
	margin-bottom: 1em;
}

.content .csd-blog{
}

.content .csd-blog a{
	font-size: 16px;
	padding-bottom: 10px;
	display: inline-block;
}



/* central column images + figures */
/* central column images + figures */

.content img{
	margin-bottom: 1em;
	margin-right: 1em;
	height: auto!important; /* important rule HAS to be here to over-ride inline CSS inserted by T4 */
}
	
.content img.float-left{
	margin-right: 1em;
	max-width: 50%;
}

.content img.float-right{
	margin-left: 1em;
	max-width: 50%;
}

.content img.border{
	background: #e5ebf2;
	max-width: 100%;
	padding: 10px;
	height: auto;
}

.figure{
	border-left: 10px solid #ccc;
	background-color: #f9f9f9;
	margin-right: 20px;
	margin-bottom: 1em;
	max-width: 45%;
	padding: 10px;
	float: left;
}

.figure img{
	margin-bottom: 10px;
	float: left;
	clear: both;
}

.figure span{
	margin-bottom: 10px;
	float: left;
	clear: both;
	width: 100%;
}


/* right hand column */
/* right hand column */

aside{
	font-size: 14px;
	width: 32.394%; /* 470 / 710 */
	float: right;
	color: #666;
}

	.ie7 aside{
		width: 32%;
	}

aside h1,
aside h2,
aside h3,
aside h4{
	font-family: Swiss721BT-Heavy, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin: 0 0  1em 0;
	font-size: 185%;
	color: #000;
}

aside h2{
	font-size: 138%;
}

aside h3{
	font-size: 115%;
}

aside h4{
	font-style: italic;
	font-size: 100%;
}

aside p{
	margin-bottom: 1em;
	display: block;
}

aside ul,
aside ol
{
	margin-bottom: 1em;
}


/* blockquote */
/* blockquote */

blockquote{
	background:	url(../img/blockquote-bottom-left.png) no-repeat bottom right;
	background:
		url(../img/blockquote-bottom-left.png) no-repeat bottom right,
		url(../img/10-ccc.gif) repeat-y
	;
	font-family: Georgia, "Times New Roman", Times, serif!important;
	padding: 10px 10px 40px 20px;
	background-color: #f9f9f9;
	margin: 0 0 20px 0;
	width: 100%;
	float: left;
}

	.ie7 blockquote{
		padding: 10px 4% 40px 8%;
		background-color: #f9f9f9;
		margin: 0 0 20px 0;
		width: 88%;
	}
	
.content blockquote p{
	font-family: Georgia, "Times New Roman", Times, serif!important;
}
	
blockquote:before{
  background: url(../img/sprite.png) 0 -730px no-repeat;
  height: 30px;
  content: "";
  float: left;
  width: 50px;
}


/* blockquote callouts */
/* blockquote callouts */

/* alert box */
blockquote.alert,
blockquote.question,
blockquote.blank,
blockquote.security,
blockquote.printing,
blockquote.email,
blockquote.software,
blockquote.training,
blockquote.twitter
{
	background:	#f9f9f9 url(../img/10-ccc.gif) repeat-y;
	padding-bottom: 20px;
}

blockquote.alert:before{
	background: url(../img/sprite.png) 0 -130px no-repeat;
	height: 40px;
	width: 50px;
}

/* question box */
blockquote.question:before{
	background: url(../img/sprite.png) 0 -190px no-repeat;
	height: 40px;
	width: 50px;
}

/* blank box */
blockquote.blank:before{
	background: none;
	height: 0;
	width: 0;
}

/* security */
blockquote.security:before{
	background: url(../img/sprite.png) 0 -780px no-repeat;
	height: 40px;
	width: 50px;
}

/* printing */
blockquote.printing:before{
	background: url(../img/sprite.png) 0 -840px no-repeat;
	height: 40px;
	width: 50px;
}

/* email */
blockquote.email:before{
	background: url(../img/sprite.png) 0 -900px no-repeat;
	height: 40px;
	width: 50px;
}

/* training */
blockquote.training:before{
	background: url(../img/sprite.png) 0 -960px no-repeat;
	height: 40px;
	width: 50px;
}

/* software */
blockquote.software:before{
	background: url(../img/sprite.png) 0 -1020px no-repeat;
	height: 40px;
	width: 50px;
}

/* twitter */
blockquote.twitter:before{
	background: url(../img/twitter-blockquote-bg.svg) 0 0 no-repeat;
	height: 40px;
	width: 50px;
}

	.no-svg blockquote.twitter:before{
		background: url(../img/twitter-blockquote-bg.png) 0 0 no-repeat;
	}

blockquote ul
blockquote ol
{
	padding-left: 1em;
}


/* list that contains an image and a link side by side */
/* list that contains an image and a link side by side */

.image-and-link-list,
.image-and-link-list li
{
	list-style: none;
	padding: 0;
	margin: 0;
}

.image-and-link-list li
{
	display: block;
	float:left;
	clear: both;
	width: 100%;
}

.image-and-link-list li img{
	float: left;
	max-width: 100%;
}

.image-and-link-list li a{
	float: left;
	width: 30%;
	margin-right: 5%;
}

.image-and-link-list li a+a{
	float: right;
	width: 60%;
}

.image-and-link-list li a{
	vertical-align: top;
}



/* call to action */
/* call to action */

.call-to-action,
#reset
{
	font-family:Swiss721GreekBT-Light, Arial, Helvetica, sans-serif;
	background-color: #99876e;
	text-decoration: none;
	margin: 0 0 10px 0;
	text-align: center;
	padding: 6px 10px; /* 10 / 230 */
	max-width: 100%;
	font-size: 20px;
	border: none;
	float: left;
	width: 100%;
	color: #fff;
	
	/* css3 */
	text-shadow:
		0px 2px 3px rgba(0,0,0,0.5),
		0px 10px 30px rgba(0,0,0,0.3)
	;
	
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, 0.8), 0 3px 9px rgba(0,0,0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, 0.8), 0 3px 9px rgba(0,0,0, 0.2);
	box-shadow: 0 1px 3px rgba(0,0,0, 0.8), 0 3px 9px rgba(0,0,0, 0.2);
	
	background-color: #d0ae32;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d0ae32), to(#c59a00)); 
	background-image: -webkit-linear-gradient(top, #d0ae32, #c59a00); 
	background-image:    -moz-linear-gradient(top, #d0ae32, #c59a00); 
	background-image:     -ms-linear-gradient(top, #d0ae32, #c59a00); 
	background-image:      -o-linear-gradient(top, #d0ae32, #c59a00); 
	background-image:         linear-gradient(top, #d0ae32, #c59a00);

	-webkit-transition: background-color 0.3s ease;
}

#main-content .call-to-action:visited{
	color: #fff;
}

#main-content .call-to-action:hover{
	background-color: black!important;
	background-image: none!important;
	color: #fff!important;
	border: none!important;

	background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000)); 
	background-image: -webkit-linear-gradient(top, #000000, #000000); 
	background-image:    -moz-linear-gradient(top, #000000, #000000); 
	background-image:     -ms-linear-gradient(top, #000000, #000000); 
	background-image:      -o-linear-gradient(top, #000000, #000000); 
	background-image:         linear-gradient(top, #000000, #000000);
}


/* tables */
/* tables */
	
.content .basic-table{
	border: 3px solid #eee;
	margin-bottom: 1em;
	width: 100%;
}

.content .basic-table caption{
	display:none;
}

.content .basic-table th{
	border: 2px solid #eee;
	background-color: #eee;
	text-align: left;
	padding: 5px;
}

.content .basic-table td{
	border: 2px solid #eee;
	padding: 5px;
}


/* file type icons */
/* file type icons */

.content a[href$=".pdf"]{
	background: url(../img/pdf-icon.png) no-repeat top right;
	padding-right: 20px;
	padding-bottom: 5px;
}


/* zebra list */
/* zebra list */

body .zebra-stripe{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 30px 0;
	font-size: 12px;
	display: block;
	color: #333;
	padding: 0;
}

.zebra-stripe li{
	background: #f2f5f9;
	padding: 8px 10px;
	list-style: none;
	display: block;
}

.zebra-stripe li:nth-child(odd){
	background: #E5EBF2;
}

body blockquote .zebra-stripe{
	margin: 0 0 10px 0;
}

blockquote .zebra-stripe li{
	background: #fff;
}

blockquote .zebra-stripe li:nth-child(odd){
	background: #eee;
}



/* step by step guides */
/* step by step guides */

.step-by-step li{
	background-color: #E5EBF2;
	margin-bottom: 20px;
	padding: 10px;
	font-size: 12px;
	color: #333;
}

.step-by-step ul li{
	background: #fff url(../img/ul-arrow-round-bg.png) 10px 10px no-repeat;
	padding: 10px 10px 10px 35px;
	list-style-position: inside;
	margin: 0 0 10px 0;
	list-style: none;
}


/* forms */
/* forms */

.basic-form{
	font-size: 16px;
}

.basic-form label{
	margin-bottom: 20px;
	display: block;
}

.basic-form label span{
	display: block;
	margin-bottom: 5px;
}

.basic-form input[type=text],
.basic-form textarea,
.basic-form select
{
	width: 70%;
	border: 2px solid #E1E2E2;
	padding: 5px;
}

.content .radio-checkbox-list,
.content .radio-checkbox-list li
{
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}

.radio-checkbox-list{
	width: 100%;
}

.content .radio-checkbox-list li{
	margin-right: 20px;
}

.radio-checkbox-list li label span{
	display: inline-block;
}

.basic-form input[type=submit]{
	background: #C59A00;
	border: none;
	color: #FFFFFF;
	height: 32px;
	padding: 0 10px;
}


/* ----- microsite home pages ----- */
/* ----- microsite home pages ----- */


/* cheeky top marginon the banner img */
/* cheeky top marginon the banner img 

.microsite-home h1.visuallyhidden + img{
	margin-top: 10px;
}*/


/* markets navigation */
/* markets navigation */

#microsite-markets{
	/*background: url(../img/microsite/horizontal-divider.png) top left repeat-x;*/
	border-top: 2px dotted #ccc;
	padding-top: 20px;
	margin-top: 20px;
}

#microsite-markets ul{
	/*background: url(../img/microsite/horizontal-divider.png) bottom left repeat-x;*/
	border-bottom: 2px dotted #ccc;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

#microsite-markets li{
	padding-right: 30px;
	display: block;
	width: 33.3%;
	float: left;
}

.ie7 #microsite-markets li{
	width: 30%;
	padding-right: 3.3%;
}

#microsite-markets h2{
	font-family: Swiss721BT-Heavy, Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin: 0 0 10px 0;
	font-size: 143%;
	padding: 0px;
}

#microsite-markets p{
	font-size: 14px;
	color: #333;
}

#microsite-markets .call-to-action{
	font-family: Swiss721GreekBT-Light, Helvetica, Arial, sans-serif;
	text-transform: lowercase;
	font-weight: normal;
	padding: 5px 10px;
	font-size: 16px;
	width: auto;
	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: 0;
}


/* microsite home main content area */
/* microsite home main content area */

.microsite-home .content{
	/*background: url(../img/microsite/vertical-divider-10px-right-padding.png) repeat-y right;*/
	padding-right: 60px;
	width: 66.6%;
}

.ie7 .microsite-home .content{
	width: 63.6%;
	padding-right: 3%;
}

.microsite-home aside{
	/*width: 25%;*/
	float: left;
}

.microsite-home article h1{
	padding-bottom: 0px;
	border: none;
}


/* microsite home sidebar */
/* microsite home sidebar */

.microsite-home aside ul,
.microsite-home aside li{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.microsite-home aside li{
	margin-bottom: 20px;
	float: left;
	clear: both;
	width: 100%;
}

.microsite-home aside li img{
	margin-right: 10px;
	background: #ddd;
	padding: 5px;
	float: left;
}

.microsite-home aside li p{
	margin: 0 0 1em 0;
	padding: 0px;
}


/* section specific colours */
/* section specific colours */

/* mobile */
 .mobile #main-content .call-to-action{
	background-color: #858f3a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#858f3a), to(#68740b)); 
	background-image: -webkit-linear-gradient(top, #858f3a, #68740b); 
	background-image:    -moz-linear-gradient(top, #858f3a, #68740b); 
	background-image:     -ms-linear-gradient(top, #858f3a, #68740b); 
	background-image:      -o-linear-gradient(top, #858f3a, #68740b); 
	background-image:         linear-gradient(top, #858f3a, #68740b);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#858f3a', EndColorStr='#68740b'); 
}

.mobile .microsite-home aside li img{
	background-color: #d1d7a2;
}

/* security */
.security #main-content .call-to-action{
	background-color: #c9c562;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c9c562), to(#bcb73d)); 
	background-image: -webkit-linear-gradient(top, #c9c562, #bcb73d); 
	background-image:    -moz-linear-gradient(top, #c9c562, #bcb73d); 
	background-image:     -ms-linear-gradient(top, #c9c562, #bcb73d); 
	background-image:      -o-linear-gradient(top, #c9c562, #bcb73d); 
	background-image:         linear-gradient(to bottom, #c9c562, #bcb73d);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c9c562', EndColorStr='#bcb73d'); 
}

.security .microsite-home aside li img{
	background-color: #ddda9d;
}

/* printing */
.printing #main-content .call-to-action{
	background-color: #992485;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b35ba4), to(#992485)); 
	background-image: -webkit-linear-gradient(top, #b35ba4, #992485); 
	background-image:    -moz-linear-gradient(top, #b35ba4, #992485); 
	background-image:     -ms-linear-gradient(top, #b35ba4, #992485); 
	background-image:      -o-linear-gradient(top, #b35ba4, #992485); 
	background-image:         linear-gradient(to bottom, #b35ba4, #992485);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b35ba4', EndColorStr='#992485'); 
}

.printing .microsite-home aside li img{
	background-color: #e5c8e0;
}

/* email */
.email #main-content .call-to-action{
	background-color: #d64945;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e07774), to(#d64945)); 
	background-image: -webkit-linear-gradient(top, #e07774, #d64945); 
	background-image:    -moz-linear-gradient(top, #e07774, #d64945); 
	background-image:     -ms-linear-gradient(top, #e07774, #d64945); 
	background-image:      -o-linear-gradient(top, #e07774, #d64945); 
	background-image:         linear-gradient(to bottom, #e07774, #d64945);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e07774', EndColorStr='#d64945'); 
}

.email .microsite-home aside li img{
	background-color: #eaa4a2;
}

/* learning */
.training #main-content .call-to-action{
	background-color: #be202c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ce5861), to(#be202c)); 
	background-image: -webkit-linear-gradient(top, #ce5861, #be202c); 
	background-image:    -moz-linear-gradient(top, #ce5861, #be202c); 
	background-image:     -ms-linear-gradient(top, #ce5861, #be202c); 
	background-image:      -o-linear-gradient(top, #ce5861, #be202c); 
	background-image:         linear-gradient(to bottom, #ce5861, #be202c);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ce5861', EndColorStr='#be202c'); 
}

.training .microsite-home aside li img{
	background-color: #de8f95;
}

/* software */
.software #main-content .call-to-action{
	background-color: #739839;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#96b26b), to(#739839)); 
	background-image: -webkit-linear-gradient(top, #96b26b, #739839); 
	background-image:    -moz-linear-gradient(top, #96b26b, #739839); 
	background-image:     -ms-linear-gradient(top, #96b26b, #739839); 
	background-image:      -o-linear-gradient(top, #96b26b, #739839); 
	background-image:         linear-gradient(to bottom, #96b26b, #739839);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#96b26b', EndColorStr='#739839'); 
}

.training .microsite-home aside li img{
	background-color: transparent;
	border: 5px solid #ce5861;
}


/* quickstart */
.quickstart #main-content .call-to-action{
	background-color: #fcb811;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fdca4d), to(#fcb811)); 
	background-image: -webkit-linear-gradient(top, #fdca4d, #fcb811); 
	background-image:    -moz-linear-gradient(top, #fdca4d, #fcb811); 
	background-image:     -ms-linear-gradient(top, #fdca4d, #fcb811); 
	background-image:      -o-linear-gradient(top, #fdca4d, #fcb811); 
	background-image:         linear-gradient(to bottom, #fdca4d, #fcb811);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fdca4d', EndColorStr='#fcb811'); 
}

.quickstart .microsite-home aside li img{
	background-color: #fddb88;
}

/* help-and-support */
.help-and-support #main-content .call-to-action{
	background-color: #1d1d1b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#565654), to(#1d1d1b)); 
	background-image: -webkit-linear-gradient(top, #565654, #1d1d1b); 
	background-image:    -moz-linear-gradient(top, #565654, #1d1d1b); 
	background-image:     -ms-linear-gradient(top, #565654, #1d1d1b); 
	background-image:      -o-linear-gradient(top, #565654, #1d1d1b); 
	background-image:         linear-gradient(to bottom, #565654, #1d1d1b);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#565654', EndColorStr='#1d1d1b'); 
}

.help-and-support .microsite-home aside li img{
	background-color: #1d1d1b;
}




/* ----- csd home page ----- */
/* ----- csd home page ----- */

#computing-services-home{
	font-size: 14px;
	color: #666;
}

#computing-services-home a{
	color: #003981;
}

#computing-services-home .call-to-action{
	font-family: Swiss721GreekBT-Light, Helvetica, Arial, sans-serif;
	text-transform: lowercase;
	font-weight: normal;
	padding: 5px 10px;
	font-size: 16px;
	width: auto;
	color: #fff;
	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: 0;
}

.computing-home-module{
	background: url(../img/microsite/vertical-divider-15px-right-padding.png) top right repeat-y;
	padding-right: 30px;
	width: 33.3%;
	float: left;
}

.computing-home-module h1{
	margin: 0 0 10px 0;
	padding-top: 31px;
	overflow: hidden;
	display: block;
	width: 100%;
	height: 0px;
}


/* hang lines */
/* hang lines */

.hang-line{
	background: url(../img/microsite/horizontal-divider.png) left 50% repeat-x;
	visibility: visible;
	margin-bottom: 10px;
	display: block;
	height: 30px;
	width: 100%;
}

#support-hang-line,
#follow-us-hang-line,
#promo-spot-hang-line,
#services-hang-line,
#mailing-list-hang-line{
	display: none;
}


/* promo spot */
/* promo spot */

#promo-spot{
	background: url(../img/microsite/vertical-divider-15px-right-padding.png) top right repeat-y;
	padding-right: 60px;
	position: relative;
	width: 66.6%;
	float: left;
}

#promo-spot span{
	position: absolute;
	display: block;
	width: 240px;
	top: 30%;
}


/* quick links */
/* quick links */

#quick-links{
	background: none;
	padding-right: 0;
	margin-right: 0;
	float: right;
}

#quick-links h1{
	background: url(../img/sprite.png) 0 -280px no-repeat;
}

#quick-links li{
	margin-bottom: 10px;
	float: left;
	width: 50%;
}

#quick-links li a{
	float: left;
	width: 35%;
}

#quick-links li a+a{
	padding-right: 10%;
	float: left;
	width: 55%;
}


/* services */
/* services */

#services h1{
	background: url(../img/sprite.png) 0 -320px no-repeat;
}


/* support */
/* support */

#support h1{
	background: url(../img/sprite.png) 0 -360px no-repeat;
}


/* services & support */
/* services & support */

#services ul,
#support ul{
	list-style: disc inside;
	margin-bottom: 20px;
	line-height: 1.8em;
}

#services ul a,
#support ul a{
}


/* news */
/* news */

#news{
	padding-right: 0;
	background: none;
	margin-right: 0;
}

#news h1{
	background: url(../img/sprite.png) 0 -400px no-repeat;
}

/* news & srevice status shared */

#news ul,
#service-status ul
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#news h2,
#service-status h2
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
	padding: 0px;
	color: #000;
}


/* follow us */
/* follow us */

#follow-us h1{
	background: url(../img/sprite.png) 0 -440px no-repeat;
}

#follow-us ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#follow-us li{
	margin-bottom: 20px;
	float: left;
	clear: both;
}

#follow-us img{
	float: left;
}

#follow-us p{
	margin: 0 0 10px 0;
	padding: 0px;
	float: right;
	width: 75%;
}


/* mailing list */
/* mailing list */

#mailing-list h1{
	background: url(../img/sprite.png) 0 -480px no-repeat;
}

#mailing-list label{
	display: block;
}

#mailing-list span{
	margin-bottom: 5px;
	display: block;
}

#mailing-list input[type=text]{
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 8px;
	width: 100%;
}

#mailing-list input[type=submit]{
	border: none;
}


/* service status */
/* service status */

#service-status{
	padding-right: 0;
	background: none;
	margin-right: 0;
}

#service-status h1{
	background: url(../img/sprite.png) 0 -520px no-repeat;
	padding-top: 58px;
}

#service-status .current-status{
	display: block;
}

#status-list{
	width: 90%;
}

#service-status .current-status img{
	float: left;
	margin-right: 20px;
}

#service-status .green{
	display: none;
}

#service-status .service-alert{
	background: url(../img/sprite.png) 0 -130px no-repeat;
	padding-left: 50px;
	min-height: 50px;
}

#service-status .service-ok{
	background: url(../img/sprite.png) 0 -590px no-repeat;
	margin-bottom: 10px;
	padding-left: 50px;
	min-height: 50px;
}


/* ----- page footer ----- */
/* ----- page footer ----- */

footer{
	margin: 10px auto 0 auto;
	padding-bottom: 20px;
}

footer p{
	text-align: right;
	padding: 0px;
	margin: 0px;
}

#address{
	background: #e1e2e2 url(../img/footer-logo.svg) 10px 10px no-repeat;
	padding: 10px;
	color: #666;
}

	.no-svg #address{
		background: #e1e2e2 url(../img/footer-logo.png) 10px 10px no-repeat;
	}

#global-footer{
	background-color: #999;
	display: block;
	padding: 10px;
	color: #fff
}

#global-footer a{
	color: #fff;
}

#direct-edit-link{
	display: none;
}



/* ----- media-queries ----- */
/* ----- media-queries ----- */


/* tablet layout */
/* tablet layout */

@media screen and (max-width: 1000px) {

	
/* ----- header ----- */
/* ----- header ----- */

#search input[type=text]{
	width: 150px;
	left: 90px;
}

#global-nav li a{
	background-image: none!important;
	padding-right: 0!important;
}

.search-select{
	width: 150px;
	left: 90px;
}


/* ----- inside page content ----- */
/* ----- inside page content ----- */

.content,
.microsite-home .content{
	background: none;
	padding-right: 0;
	margin-right: 0;
	width: 100%;
	float: none;
}

aside, .microsite-home aside{
	width: 100%;
	float: none;
}



/* ----- home page content ----- */
/* ----- home page content ----- */

.computing-home-module{
	background: url(../img/microsite/vertical-divider.png) top right repeat-y;
	padding-right: 20px;
	width: 50%;
}


/* hang lines */
/* hang lines */

#support-hang-line,
#follow-us-hang-line{
	visibility: visible;
	display: block;
}

#news-hang-line{
	display: none;
}


/* promo spot */
/* promo spot */

#promo-spot{
	background: url(../img/microsite/vertical-divider.png) top right repeat-y;
	width: 50%;
}

#promo-spot span{
	position: static;
	width: 100%;
}


/* quick links */
/* quick links */

#quick-links{
	padding-left: 20px;
}


/* news */
/* news */

#news{
	background: url(../img/microsite/vertical-divider.png) top right repeat-y;
	padding-right: 20px;
}


/* services */
/* services */

#services{
	background: url(../img/microsite/vertical-divider.png) top right repeat-y;
	padding-right: 20px;
}


/* support */
/* support */

#support{
	padding-left: 20px;
	background: none;
}


/* follow us */
/* follow us */

#follow-us{
	padding-left: 20px;
	background: none;
}

/* follow us */
/* follow us */

#service-status{
	padding-left: 20px;
	background: none;
}


/* ----- microsite home page ----- */
/* ----- microsite home page ----- */

.microsite-home .content{
	background: url(../img/microsite/horizontal-divider.png) bottom left repeat-x;
	padding-bottom: 20px;
	margin-bottom: 20px;
}


}


/* handehld devices */
/* handehld devices */

@media screen and (max-width: 550px) {


/* ----- header ----- */
/* ----- header ----- */

#container{
	padding: 25px 20px;
	width: 90%;
	overflow: hidden;
}

	.ie8 #container,
	.ie8 #container{
		min-width: 260px;
	}

#masthead{
	margin-bottom: -10px;
	border: none;
}

#masthead h1{
	width: 120%;
	height: 30px;
	display: block;
}

#uni-home-link{
	background: url(../img/uni-home-link.svg) top left no-repeat;
	background-size: contain;
	padding-top: 30px;
	overflow: hidden;
	display: block;
	float: left;
	width: 140px;
	height: 0px;
}

#dept-home-link a{
	background: url(../img/dept-home-link.svg) top left no-repeat;
	background-size: contain;
	padding-top: 30px;
	overflow: hidden;
	display: block;
	height: 0px;
	width: 120px;
	}
	
#global-and-search{
	position: relative;
	margin-bottom: 20px;
	padding-left: 0;
	display: block;
	border-left: none;
}

#global-nav{
	display: none;
}

#search{
	width: 100%;
}

#search input[type=text]{
	position: relative;
	width: 70%;
	left: 0;
}

#search input[type=submit]{
	display: none;
}

#search .ready,
.no-js #search input[type=submit]{
	display: block!important;
}

#search .search-button{
	float: right;
	width: 20%;
}

.ie8 #search .search-button{
	margin-top: -3px;
}

.ie9 #search .search-button{
	top: 0px;
}



/* ----- navigation ----- */
/* ----- navigation ----- */

#breadcrumb{
	width: 100%;
}

#breadcrumb li:nth-child(-n+2),
#breadcrumb li:nth-child(n+5)
{
	display: none;
}

#site-navigation{
	margin-bottom: 20px;
	width: 100%;
}

#navigation li a{
	width: 91.68%;
}

#site-navigation ul,
#site-navigation #faculty-link{
	display: none;
}

#site-navigation .ready{ /* the 'ready' state is applied by javascript after all the magik is done to render the menu - this stops it flashing up as an unstyled list while the page loads */
	display: block;
	width: 100%;
}



/* ----- content ----- */
/* ----- content ----- */

#main-content{
	width: 100%;
}

aside{
	width: 100%;
}

footer p{
	text-align: center;
}

#address{
	background-image: none;
}

.content blockquote{
	padding: 10px 10px 40px 20px;
	width: 100;
}



/* ----- microsite home page ----- */
/* ----- microsite home page ----- */

#microsite-markets li{
	margin: 0 0 10px 0;
	display: block;
	float: left;
	clear: both;
	width: 100%;
	padding: 0;
}

#microsite-markets .call-to-action {
	max-width: 100%;
	padding: 5px;
	width: 100%;
}

.microsite-home .sidebar{
	background: url(../img/microsite/horizontal-divider.png) bottom left repeat-x;
	padding-bottom: 20px;
	margin-bottom: 20px;
	float: left;
	clear:both;
}

.microsite-home .content{
	padding-bottom: 0;
	margin-bottom: 0;
	background: none;
}



/* ----- home page ----- */
/* ----- home page ----- */

#computing-services-home .call-to-action{
	max-width: 100%;
	padding: 5px 0;
	width: 100%;
}

.computing-home-module,
#services,
#support,
#news,
#quick-links,
#follow-us,
#service-status,
#promo-spot{
	background: none;
	width: 100%;
	float: left;
	clear: both;
	padding: 0;
	margin: 0;
}

#support-hang-line,
#follow-us-hang-line,
#promo-spot-hang-line,
#services-hang-line,
#mailing-list-hang-line,
#news-hang-line{
	display: block;
}


/* ----- footer ----- */
/* ----- footer ----- */

#google_translate_element{
	display: none;
}


}

