@charset "UTF-8";
/* CSS Document */


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);

/* ----- font resets ----- */
/* ----- font resets ----- */

#main-content,
.content
{
	font-family: 'Open Sans', sans-serif;
	position: relative;
}


#main-content h1,
#main-content h2,
#main-content h3,
#main-content h4,
#main-content p
{
	font-weight: 200;
}

#main-content h1{
	font-size: 30px;
}

#main-content h2{
	font-size: 26px;
}

#main-content p{
	font-size: 16px;
	line-height: 1.2em;
}


/* ----- header ----- */
/* ----- header ----- */

#dept-home-link a{
	background: url("../img/windows-8-dept-home-link-colour.svg") no-repeat scroll left top transparent;
	width: 200PX;
}

	.no-svg #dept-home-link a{
		background: url("../img/windows-8-dept-home-link-colour.png") no-repeat scroll left top transparent;
	}


.horizontal-nav{
	background: #348BEC;
	margin-bottom: 20px;
	padding: 0 10px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.horizontal-nav li{
	float: left;
}

.horizontal-nav li a{
	color: white;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
}

.horizontal-nav select{
	display: none;
}

/* ----- home page ----- */
/* ----- home page ----- */


/* splash */

#home-page-splash{
	margin-bottom: 20px;
}

#slider{
	float: left;
	width: 65.6%;
	background: #f1f1f1;
	margin-right: 3%;
	position: relative;
	overflow: hidden;
	min-height: 100px;
}

#slider h1{
	font-size: 26px;
}

.slide{
	width: 100%;
	padding: 20px;
	position: absolute;
}

.slide + .slide{
	left: 100%;
}

.slider-callout{
	padding: 20px;
	color: white;
	background: #2B5797;
}

.slide:nth-child(2) .slider-callout{
	background: #9F00A7;
}

.slide:nth-child(3) .slider-callout{
	background: #B91D47;
}



/* secondary promo */

#sponsor-block{
	width: 31.3%;
	background: #EFF4FF;
	float: left;
	padding: 20px;
	text-align: center;
	height: 100%;
}

#sponsor-block a{
	padding-top: 60px;
	background: url('../img/right-arrow-50.svg') no-repeat top;
	display: inline-block;
}

	.no-svg #sponsor-block a{
		background: url('../img/right-arrow-50.png') no-repeat top;
	}



/* home page markets */ 

#home-page-markets li{
	width: 31.3%;
	float: left;
	padding: 20px 90px 20px 20px;
	margin-bottom: 20px;
	margin-right: 3%;
}

#home-page-markets li:last-child{
}


#home-page-markets li a{
	color: #fff;
	text-decoration: none;
}

#home-page-markets li{
	background: url('../img/wifi-icon.svg') right 20px no-repeat #2D89EF;
}

	.no-svg #home-page-markets li{
		background: url('../img/wifi-icon.png') right 20px no-repeat #2D89EF;
	}


#home-page-markets li + li{
	background: #00A300 url('../img/email-icon.svg') right 20px no-repeat  ;
}

	.no-svg #home-page-markets li + li{
		background: #00A300 url('../img/email-icon.png') right 20px no-repeat  ;
	}

#home-page-markets li + li + li{
	margin-right: 0;
	background: #FFC40d url('../img/m-drive-icon.svg') right 20px no-repeat  ;
}

	.no-svg #home-page-markets li + li + li{
		background: #FFC40d url('../img/m-drive-icon.png') right 20px no-repeat  ;
	}

#home-page-markets li:nth-child(4){
	display: none;
}


/* home page sub sections */

#home-page-sub{
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
}
#home-page-sub li{
	float: left;
	width: 31.3%;
	margin-right: 3%;
}
#home-page-sub li:last-child{
	margin-right: 0%
}


/* ----- inside page ----- */
/* ----- inside page ----- */

.content.wide{
	width: 70%;
	margin: 0 auto;
	float: none;
	padding-right: 0;
}

#main-content .content h1,
#main-content .content h2
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	font-size: 50px;
	border: none;
	background: none;
	margin-bottom: 10px;
}

#main-content .content h2{
	font-size: 26px;
	margin-bottom: 20px;
}


iframe{
	/* margin-bottom: 20px; */
}

#back-button{
	position: absolute;
	top: 10px;
	left: 15%;
	display: block;
	background: url(../img/left-arrow-50.svg) top left no-repeat;
	width: 50px;
	height: 0;
	padding-top: 50px;
	overflow: hidden;
	margin-left: -70px;
}

	.no-svg #back-button{
		background: url(../img/left-arrow-50.png) top left no-repeat;
	}


table{
    border-collapse: separate;
    margin: 0 0 20px;
    width: 100%;
}

tr{
	border: 1px solid #FFFFFF;
}

tr:hover{
	background: #f7f7f7;
}

td,
th
{
	font-weight: normal;
	border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    font-size: 11pt;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 20px;
    padding: 3px 10px;
	text-align: left;
	width: 25%;
}

td:last-child,
th:last-child
{
	border-right: none;
}

table em{
	position: relative;
	border-bottom: 1px dotted;
	cursor: pointer;
	font-style: normal;
}

table em span{
	position: absolute;
	background: #B91D47;
	padding: 10px;
	color: white;
	width: 300px;
	height: auto;
	left: -320px;
	display: none;
	border: 0;
}

table em:hover span{
	display: block;
}



/* ----- media queries ----- */
/* ----- media queries ----- */

@media screen and (max-width: 550px) {

.horizontal-nav{
	padding: 0;
	background: transparent;
}

.horizontal-nav select{
	display: block;
	width: 100%;
}

.horizontal-nav ul,
#back-button
{
	display: none;
}
	
#slider,
#sponsor-block,
#home-page-markets li,
#home-page-sub li,
.content.wide{
	width: 100%;
	margin: 0 0 20px 0!important;
}

#home-page-splash{
	margin-bottom: 0;
}

#dept-home-link a{
	background: url(../img/windows-8-dept-home-link-colour.svg) top left no-repeat;
	background-size: contain;
	padding-top: 30px;
	overflow: hidden;
	display: block;
	height: 0px;
	width: 120px;
	}
	
.content{
}

#back-button{
	left: 0;
	margin-left: 0;
	position: relative;
	top: 0;
}

}


