@charset "UTF-8";
/* CSS Document */

/* ----- compressed reset style sheet ----- */
/* ----- compressed reset style sheet ----- */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0;font-size:13px;line-height:1.231}body,button,input,select,textarea{font-family:sans-serif;color:#222}::-moz-selection{background:#fe57a1;color:#fff;text-shadow:none}::selection{background:#fe57a1;color:#fff;text-shadow:none}a{color:#00e}a:visited{color:#551a8b}a:hover{color:#06e}a:focus{outline:thin dotted}a:hover,a:active{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}ins{background:#ff9;color:#000;text-decoration:none}mark{background:#ff0;color:#000;font-style:italic;font-weight:bold}pre,code,kbd,samp{font-family:monospace,monospace;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:"";content:none}small{font-size:85%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}h1,h2,h3,h4,p{margin-top:0px}ul,ol{margin:1em 0;padding:0 0 0 40px}dd{margin:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0}img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:0;margin:0;padding:0}label{cursor:pointer}legend{border:0;*margin-left:-7px;padding:0}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal;*overflow:visible}table button,table input{*overflow:auto}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}input[type="checkbox"],input[type="radio"]{box-sizing:border-box}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top;resize:vertical}input:valid,textarea:valid{}input:invalid,textarea:invalid{background-color:#f0dddd}table{border-collapse:collapse;border-spacing:0}td{vertical-align:top}hr{visibility:hidden;background:none;overflow:hidden;display:block;font-size:0;clear:both;float:none;padding:0;border:0;margin:0;height:0;width:0}.float-left{float:left}.float-right{float:right}.ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr}.ir br{display:none}.hidden{display:none !important;visibility:hidden}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.invisible{visibility:hidden} .clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}.clearfix{zoom:1}@media only screen and (min-width:480px){ }@media only screen and (min-width:768px){ } @media print{ *{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important} a,a:visited{text-decoration:underline} a[href]:after{content:"("attr(href) ")"} abbr[title]:after{content:"("attr(title) ")"} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}  pre,blockquote{border:1px solid #999;page-break-inside:avoid} thead{display:table-header-group} tr,img{page-break-inside:avoid} img{max-width:100% !important} @page{margin:0.5cm} p,h2,h3{orphans:3;widows:3} h2,h3{page-break-after:avoid}}



/* ----- webfonts ----- */
/* ----- webfonts ----- */

/* swiss heavy */
/* swiss heavy */

@font-face {font-family: 'Swiss721BT-Heavy';src: url('webfonts/swiss-721-heavy/eot/style_48.eot');src: url('webfonts/swiss-721-heavy/eot/style_48.eot?#iefix') format('embedded-opentype'),url('webfonts/swiss-721-heavy/woff/style_48.woff') format('woff'),url('webfonts/swiss-721-heavy/ttf/style_48.ttf') format('truetype'),url('webfonts/swiss-721-heavy/svg/style_48.svg#Swiss721BT-Heavy') format('svg');}
@font-face {font-family: 'Swiss721BT-HeavyItalic';src: url('webfonts/swiss-721-heavy/eot/style_49.eot');src: url('webfonts/swiss-721-heavy/eot/style_49.eot?#iefix') format('embedded-opentype'),url('webfonts/swiss-721-heavy/woff/style_49.woff') format('woff'),url('webfonts/swiss-721-heavy/ttf/style_49.ttf') format('truetype'),url('webfonts/swiss-721-heavy/svg/style_49.svg#Swiss721BT-HeavyItalic') format('svg');}


/* swiss light */
/* swiss light */

@font-face {font-family: 'Swiss721GreekBT-Light';src: url('webfonts/swiss-721-light/eot/style_15.eot');src: url('webfonts/swiss-721-light/eot/style_15.eot?#iefix') format('embedded-opentype'),url('webfonts/swiss-721-light/woff/style_15.woff') format('woff'),url('webfonts/swiss-721-light/ttf/style_15.ttf') format('truetype'),url('webfonts/swiss-721-light/svg/style_15.svg#Swiss721GreekBT-Light') format('svg');}


/* ----- couple of global styles ----- */
/* ----- couple of global styles ----- */

body, html{
	background: #e6e6e6 ;
}

#container{
	background: url(../img/stripe.png) top repeat-x;
	background:
		url(../img/stripe.png) top repeat-x,
		url(../img/csd-body-bg.jpg) -20px bottom no-repeat
	;
	background-color: white;
	margin: 0px auto;
	padding: 25px 2%;
	width: 86%; /* target / baseline 970px for home page, 3 col / 950 for inside page, 4 col */
	max-width: 1300px;
	/*font-family: Arial, Helvetica, sans-serif;*/
}


/* global rule for all media to bring down to size */
img,
embed,
object,
video{
	max-width: 100%;
	height: auto!important;
}

/* take weird unwanted round corners and shadow off input boxes */
input{
	-webkit-appearance: none;
}

/* links */
a{
	color: #003A81;
}

a:visited{
	color: #6689b3;
}


/* responsive layout - yes or no? */
#chooser{
	background-color: #efefef;
	margin-bottom: 10px;
	padding: 10px 5%;
	display: none;
	width: 90%;
	
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.8); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.8); /* FF3.5 - 3.6 */
          box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.8); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#chooser ul, #chooser li{
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
}

#chooser li{
	float: left;
	width: 45%
}

#chooser li + li{
	float: right;
}

#chooser li a{
	background-color: #c59a00;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding: 5px 0;
	float: left;
	width: 100%;


	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

/* transition easter egg */
#main-content a,
#main-content div,
#main-content article,
#main-content aside,
#microsite-markets *{
  -webkit-transition: all 0.5s ease;
  -moz-transition:    all 0.5s ease;
  -ms-transition:     all 0.5s ease;
  -o-transition:      all 0.5s ease;
}



/* ----- page header ----- */
/* ----- page header ----- */

#masthead{
	padding-bottom: 10px;
	position: relative;
	margin: 0 auto;
}

.ie7 #masthead{
	margin-bottom: -17px;
}
	
	/* bottom border for video pages */
	.video-library #masthead{
		border-bottom: 1px solid #e6e6e6;
		margin-bottom: 20px;
	}


/* home link and dept link */
/* home link and dept link */

#masthead h1{
	position: relative;
	top: 5px;
}

#uni-home-link{
	background: url(../img/master-sprite.png) 0 -650px no-repeat;
	padding-top: 50px;
	overflow: hidden;
	display: block;
	float: left;
	width: 220px;
	height: 0px;
}

#dept-home-link a{
	background: url(../img/master-sprite.png) top left no-repeat;
	padding-top: 50px;
	overflow: hidden;
	display: block;
	height: 0px;
}


/* global navigation and search box */
/* global navigation and search box */

#global-and-search{
	position: absolute;
	width: auto;
	right: 0px;
	top: 0;
	background: url(../img/global-and-search-gradient-bg.png) left repeat-y;
	padding-left: 50px;
}

#global-nav ul{
	margin-bottom: 10px;
	float: left;
}

#global-nav li{
	float: left;
}

#search .search-input{
	border: 2px solid #e1e2e2;
	line-height: 20px;
	padding: 0px 5px;
	width: 218px;
	height: 28px;
}

#search .search-button{
	background: #c59a00;
	margin-left: 6px;
	border: none;
	height: 30px;
	width: 70px;
	color: #fff;
}

.ie7 #global-and-search{
	margin-right: 2px;
}


.ie7 #search{
	margin-top: -15px;
}

.ie8 #search .search-button{
	position: relative;
	top: 4px;
}

.ie9 #search .search-button{
	height: 32px;
	position: relative;
	top: -1px;
}



/* styles for search selector */

.search-select{
	background-color: #e1e2e2;
	/*background-color: rgba(221, 221, 221, 0.8);*/
	padding: 5px 10px;
	width: 212px;
	color: #333;
	position: relative;

	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.ie7 .search-select{
	background-color: #e1e2e2;
	margin-top: -2px;
}

.search-select label{
	line-height: 1.5em;
}


.search-select input{
	margin-right: 5px;
}



/* padlock icon for secure links in header */
/* padlock icon for secure links in header */

#global-nav li a[href="https://staff.liv.ac.uk"],
#global-nav li a[href="https://student.liv.ac.uk"],
#global-nav li a[href="http://www.liv.ac.uk/students/index.htm"]
{
    background: url(../img/master-sprite.png) no-repeat  right -710px;
    padding-right: 17px;
}



/* ----- navigation ----- */
/* ----- navigation ----- */


/* left hand nav */
/* left hand nav */

#site-navigation{
	width: 25.2631%; /* 240 / 950 */
	float: left;
}

#site-navigation ul#navigation{
	margin-bottom: 20px;
}

#navigation li a{
	text-decoration: none;
	padding: 10px 4.16%;
	background: #e5ebf2;
	margin-bottom: 1px;
	font-size: 12px;
	display:block;
	color: #333;
	width: 75%; /* 200 / 240 */

	/*css3*/
	-webkit-transition: background 0.3s ease;
	-webkit-transition: color 0.3s ease;
	-webkit-transition: padding-right 0.3s ease;
	-moz-transition: background 0.3s ease;
	-moz-transition: color 0.3s ease;
	-moz-transition: padding-right 0.3s ease;
	-ms-transition: background 0.3s ease;
	-ms-transition: color 0.3s ease;
	-ms-transition: padding-right 0.3s ease;
	-o-transition: background 0.3s ease;
	-o-transition: color 0.3s ease;
	-o-transition: padding-right 0.3s ease;
	
}

#navigation li a:hover{
	background: #6689b3 url(../img/navigation-hover-bg.png) right no-repeat;
	padding-right: 0;
	color: #fff;
	width: 90%;
}

/* sub-navigation first item */
#navigation li span a{
	background: #003a81 url(../img/navigation-hover-bg.png) right no-repeat;
	position: relative;
	padding-right: 0;
	color: #fff;
	width: 86%;
}

/* link within a sub menu */
#navigation li ul a{
	background-color: #b2c4d9;
	color: #333;
	width: 75%
}

/* link within a sub menu */
#navigation li ul span a{
	width: 90%;
}

#site-navigation #faculty-link{
	background: url(../img/master-sprite.png) 0 -60px no-repeat;
	padding-top: 50px;
	overflow: hidden;
	display: block;
	width: 83.32%;
	float: left;
	height: 0px;
}

.ie7 #navigation ul .currentbranch1{
	margin-top: 0px;
	display: block;
}


/* jump menu */
/* jump menu */

#site-navigation select,
#all-children{
	display: none;
}


/* breadcrumb */
/* breadcrumb */

#breadcrumb{
	background: #e5ebf2;
	margin-bottom: 20px;
	font-size: 11px;
	padding: 5px 0;
	width: 74.73%; /* 720 / 950 */
	float: left;
	color: #666;
}

#breadcrumb ul li{
	float: left;
}

#breadcrumb ul li:first-child{
	text-indent: 10px;
}



/* ----- inside page body ----- */
/* ----- inside page body ----- */

#main-content{
	width: 74.73%; /* 710 / 950 */
	float: left;
}

/*
#main-content a{
	color: #003A81;
}

#main-content a:visited{
	color: #6689b3;
}
*/


/* central column */
/* central column */

.content{
	padding-right: 2.11%; /* 30 / 710 */
	margin-right: 2.11%; /* 30 / 710 */
	width: 63.38%; /* 450 / 710 */
	float: left;
	color: #666;
}

.content.wide{
	margin-right: 0;
	width: 100%;
	float: none;
}

.content h1{
	font-family: Swiss721BT-Heavy, Arial, Helvetica, sans-serif; 
	font-weight: normal;
	margin-bottom: 10px;
	margin: 0 0 10px 0;
	font-size: 185%;
	color: #003A81;
	padding: 0px;
	background: url(../img/microsite/horizontal-divider.png) bottom left repeat-x;
	padding-bottom: 8px;
}
	
.content h2, .content h3, .content h4{
	font-family: Swiss721BT-Heavy, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-bottom: 10px;
	margin-top:  1em;
	font-size: 143%;
	color: #000;
	clear: both;
}

.ie7 h2, .ie7 h3, .ie7 h4{
	font-family: Arial, Helvetica, sans-serif!important;
	font-weight: bold!important;
}

.content h1 + h2,
.content h2 + h3{
	margin-top: 0;
}

.content h3{
	font-size: 115%;
	font-family: Swiss721BT-HeavyItalic, Arial, Helvetica, sans-serif;
}

.content h4{
	font-style: italic;
	font-size: 100%;
}

.content p{
	margin-bottom: 1em;
	font-size: 14px;
}

.content ul, .content ol{
	margin-bottom: 1em;
}

.content img{
	margin-bottom: 1em;
	margin-right: 1em;
	height: auto!important; /* important rule HAS to be here to over-ride inline CSS inserted by T4 */
}
	
.content img.float-left{
	margin-right: 1em;
	max-width: 50%;
}

.content img.float-right{
	margin-left: 1em;
	max-width: 50%;
}

.content img.border{
	background: #e5ebf2;
	max-width: 97.2%;
	padding: 1.4%;
	height: auto;
}

.figure{
	border-left: 10px solid #ccc;
	background-color: #f9f9f9;
	margin-right: 20px;
	margin-bottom: 1em;
	max-width: 45%;
	padding: 10px;
	float: left;
}

.figure img{
	margin-bottom: 10px;
	float: left;
	clear: both;
}

.figure span{
	margin-bottom: 10px;
	float: left;
	clear: both;
	width: 100%;
}


/* right hand column */
/* right hand column */

aside{
	font-size: 14px;
	width: 32.394%; /* 470 / 710 */
	float: right;
	color: #666;
}

aside h1,
aside h2,
aside h3,
aside h4{
	/*font-family: Helvetica, Arial, sans-serif;*/
	font-family: Swiss721BT-Heavy, Arial, Helvetica, sans-serif;
	font-weight: normal;
	
	margin: 0 0  1em 0;
	font-size: 200%;
	color: #000;
}

/*
aside h2{
	font-size: 125%;
}


aside h3{
	font-size: 115%;
}

aside h4{
	font-style: italic;
	font-size: 100%;
}
*/
aside p{
	margin-bottom: 1em;
	display: block;
}

aside ul, aside ol{
	margin-bottom: 1em;
}


/* figures */
/* figures */


/* blockquote */
/* blockquote */

blockquote{
	background:	url(../img/blockquote-bottom-left.png) no-repeat bottom right;
	background:
		url(../img/blockquote-bottom-left.png) no-repeat bottom right,
		url(../img/10-ccc.gif) repeat-y
	;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 10px 4.34% 40px 8.68%;
	background-color: #f9f9f9;
	margin: 0 0 20px 0;
	width: 87.02%;
	float: left;
}

	.content blockquote{
		padding: 10px 4.34% 40px 4.34%;
		width: 91.36%;
	}

blockquote:before{
  background: url(../img/master-sprite.png) 0 -730px no-repeat;
  height: 30px;
  content: "";
  float: left;
  width: 50px;
}

/* alert box */
blockquote.alert,
blockquote.question,
blockquote.blank,
blockquote.security
{
	background:	#f9f9f9 url(../img/10-ccc.gif) repeat-y;
	padding-bottom: 20px;
}

blockquote.alert:before{
  background: url(../img/master-sprite.png) 0 -130px no-repeat;
  height: 40px;
  width: 50px;
}

/* question box */
blockquote.question:before{
  background: url(../img/master-sprite.png) 0 -190px no-repeat;
  height: 40px;
  width: 50px;
}

/* blank box */
blockquote.blank:before{
  background: none;
  height: 0;
  width: 0;
}

/* security */
blockquote.security:before{
  background: url(../img/master-sprite.png) 0 -780px no-repeat;
  height: 40px;
  width: 50px;
}

blockquote ul, blockquote ol{
	padding-left: 0;
}


/* call to action */
/* call to action */

#main-content .call-to-action{
	font-family:Swiss721GreekBT-Light, Arial, Helvetica, sans-serif;
	background-color: #99876e;
	text-decoration: none;
	margin: 0 0 10px 0;
	text-align: center;
	padding: 6px 4.34%; /* 10 / 230 */
	max-width: 91.32%;
	font-size: 20px;
	border: none;
	float: left;
	width: 100%;
	color: #fff;
	
	/* css3 */
	text-shadow:
		0px 2px 3px rgba(0,0,0,0.5),
		0px 10px 30px rgba(0,0,0,0.3)
	;
	
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, 0.8), 0 3px 9px rgba(0,0,0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, 0.8), 0 3px 9px rgba(0,0,0, 0.2);
	box-shadow: 0 1px 3px rgba(0,0,0, 0.8), 0 3px 9px rgba(0,0,0, 0.2);
	
	/*
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	*/

	background-color: #d0ae32;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d0ae32), to(#c59a00)); 
	background-image: -webkit-linear-gradient(top, #d0ae32, #c59a00); 
	background-image:    -moz-linear-gradient(top, #d0ae32, #c59a00); 
	background-image:     -ms-linear-gradient(top, #d0ae32, #c59a00); 
	background-image:      -o-linear-gradient(top, #d0ae32, #c59a00); 
	background-image:         linear-gradient(top, #d0ae32, #c59a00);

	-webkit-transition: background-color 0.3s ease;
}

#main-content .call-to-action:visited{
	color: #fff;
}

#main-content .call-to-action:hover{
	background-color: black!important;
	background-image: none!important;
	color: #fff!important;
	border: none!important;


	background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000)); 
	background-image: -webkit-linear-gradient(top, #000000, #000000); 
	background-image:    -moz-linear-gradient(top, #000000, #000000); 
	background-image:     -ms-linear-gradient(top, #000000, #000000); 
	background-image:      -o-linear-gradient(top, #000000, #000000); 
	background-image:         linear-gradient(top, #000000, #000000);
}


/* tables */
/* tables */
	
.content .basic-table{
	border: 3px solid #eee;
	margin-bottom: 1em;
	width: 90%;
}

.content .basic-table caption{
	display:none;
}

.content .basic-table th{
	border: 2px solid #eee;
	background-color: #eee;
	text-align: left;
	padding: 5px;
}

.content .basic-table td{
	border: 2px solid #eee;
	padding: 5px;
}


/* file type icons */
/* file type icons */

.content a[href$=".pdf"]{
	background: url(../img/pdf-icon.png) no-repeat top right;
	padding-right: 20px;
	padding-bottom: 5px;
}


/* zebra list */
/* zebra list */

body .zebra-stripe{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 30px 0;
	font-size: 12px;
	display: block;
	color: #333;
	padding: 0;
}

.zebra-stripe li{
	background: #f2f5f9;
	padding: 8px 10px;
	list-style: none;
	display: block;
}

.zebra-stripe li:nth-child(odd){
	background: #E5EBF2;
}

body blockquote .zebra-stripe{
	margin: 0 0 10px 0;
}

blockquote .zebra-stripe li{
	background: #fff;
}

blockquote .zebra-stripe li:nth-child(odd){
	background: #eee;
}




/* step by step guides */
/* step by step guides */

.step-by-step li{
	background-color: #E5EBF2;
	margin-bottom: 20px;
	padding: 10px;
	font-size: 12px;
	color: #333;
}

.step-by-step ul li{
	background: #fff url(../img/ul-arrow-round-bg.png) 10px 10px no-repeat;
	padding: 10px 10px 10px 35px;
	list-style-position: inside;
	margin: 0 0 10px 0;
	list-style: none;
}



/* ----- microsite home pages ----- */
/* ----- microsite home pages ----- */


/* cheeky top marginon the banner img */
/* cheeky top marginon the banner img 

.microsite-home h1.visuallyhidden + img{
	margin-top: 10px;
}*/


/* markets navigation */
/* markets navigation */

#microsite-markets{
	background: url(../img/microsite/horizontal-divider.png) top left repeat-x;
	padding-top: 20px;
	margin-top: 20px;
	/*font-size: 14px;*/
}

#microsite-markets ul{
	background: url(../img/microsite/horizontal-divider.png) bottom left repeat-x;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

#microsite-markets li{
	margin-left: 5.63%; /* 10 / 710 */
	display: block;
	width: 28.16%; /* 230 / 710 */
	float: left;
}

#microsite-markets li:first-child{
	margin-left: 0; /* 10 / 710 */
}

#microsite-markets h2{
	font-family: Swiss721BT-Heavy, Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin: 0 0 10px 0;
	padding: 0px;
	font-size: 143%;
}

#microsite-markets p{
	font-size: 14px;
	color: #333;
}


#microsite-markets .call-to-action{
	font-family: Swiss721GreekBT-Light, Helvetica, Arial, sans-serif;
	text-transform: lowercase;
	font-weight: normal;
	padding: 5px 10px;
	font-size: 16px;
	width: auto;
	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: 0;
}


/* microsite home main content area */
/* microsite home main content area */

.microsite-home .content{
	background: url(../img/microsite/vertical-divider.png) repeat-y right;
	padding-right: 4.11%; /* 30 / 710 */
	margin-right: 2.11%; /* 30 / 710 */
	width: 61.38%; /* 450 / 710 */
}

.microsite-home article h1{
	/*text-transform: uppercase;
	font-size: 18px;*/
	padding-bottom: 0px;
	background: none;
}


/* microsite home sidebar */
/* microsite home sidebar */

.microsite-home aside ul,
.microsite-home aside li{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.microsite-home aside li{
	margin-bottom: 20px;
	float: left;
	clear: both;
	width: 100%;
}

.microsite-home aside li img{
	margin-right: 10px;
	padding: 5px;
	float: left;
	background: #ddd;
}

.microsite-home aside li p{
	margin: 0 0 1em 0;
	padding: 0px;
}

.ie7 .microsite-home aside li img{
}



/* section specific colours */
/* section specific colours */

/* mobile */
 .mobile #main-content .call-to-action{
		background-color: #858f3a;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#858f3a), to(#68740b)); 
		background-image: -webkit-linear-gradient(top, #858f3a, #68740b); 
		background-image:    -moz-linear-gradient(top, #858f3a, #68740b); 
		background-image:     -ms-linear-gradient(top, #858f3a, #68740b); 
		background-image:      -o-linear-gradient(top, #858f3a, #68740b); 
		background-image:         linear-gradient(top, #858f3a, #68740b);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#858f3a', EndColorStr='#68740b'); 
}

.mobile .microsite-home h1{
	color: #677309;
}

.mobile .microsite-home aside li img{
	background-color: #d1d7a2;
}

/* security */
.security #main-content .call-to-action{
		background-color: #c9c562;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#c9c562), to(#bcb73d)); 
		background-image: -webkit-linear-gradient(top, #c9c562, #bcb73d); 
		background-image:    -moz-linear-gradient(top, #c9c562, #bcb73d); 
		background-image:     -ms-linear-gradient(top, #c9c562, #bcb73d); 
		background-image:      -o-linear-gradient(top, #c9c562, #bcb73d); 
		background-image:         linear-gradient(to bottom, #c9c562, #bcb73d);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c9c562', EndColorStr='#bcb73d'); 
}

.security .microsite-home h1{
	color: #bcb73d;
	color: black;
}

.security .microsite-home aside li img{
	background-color: #ddda9d;
}



/* ----- home page ----- */
/* ----- home page ----- */

#computing-services-home{
	font-size: 14px;
	color: #666;
}

#computing-services-home a{
	color: #003981;
}

#computing-services-home .call-to-action{
	font-family: Swiss721GreekBT-Light, Helvetica, Arial, sans-serif;
	text-transform: lowercase;
	font-weight: normal;
	padding: 5px 10px;
	font-size: 16px;
	width: auto;
	color: #fff;
	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: 0;
}

.computing-home-module{
	background: url(../img/microsite/vertical-divider.png) top right repeat-y;
	padding-right: 1.56%; /* 15 / 960 */
	margin-right: 1.56%; /* 15 / 960 */
	width: 31.25%; /* 300 / 960 */
	float: left;
}

.computing-home-module h1{
	margin: 0 0 10px 0;
	padding-top: 31px;
	overflow: hidden;
	display: block;
	width: 100%;
	height: 0px;
}


/* hang lines */
/* hang lines */

.hang-line{
	background: url(../img/microsite/horizontal-divider.png) left 50% repeat-x;
	visibility: visible;
	margin-bottom: 10px;
	display: block;
	height: 30px;
	width: 100%;
}

#support-hang-line,
#follow-us-hang-line,
#promo-spot-hang-line,
#services-hang-line,
#mailing-list-hang-line{
	display: none;
}


/* promo spot */
/* promo spot */

#promo-spot{
	background: url(../img/microsite/vertical-divider.png) top right repeat-y;
	padding-right: 1.56%; /* 15 / 960 */
	margin-right: 1.56%; /* 15 / 960 */
	position: relative;
	width: 65.62%; /* 630 / 960 */
	float: left;
}

#promo-spot span{
	position: absolute;
	display: block;
	width: 240px;
	top: 30%;
}


/* quick links */
/* quick links */

#quick-links{
	background: none;
	padding-right: 0;
	margin-right: 0;
	float: right;
}

#quick-links h1{
	background: url(../img/master-sprite.png) 0 -280px no-repeat;
}

#quick-links li{
	margin-bottom: 10px;
	float: left;
	width: 50%;
}

#quick-links li a{
	float: left;
	width: 35%;
}

#quick-links li a+a{
	padding-right: 10%;
	float: left;
	width: 55%;
}


/* services */
/* services */

#services{
}

#services h1{
	background: url(../img/master-sprite.png) 0 -320px no-repeat;
}


/* support */
/* support */

#support{
}

#support h1{
	background: url(../img/master-sprite.png) 0 -360px no-repeat;
}


/* services & support */
/* services & support */

#services ul,
#support ul{
	list-style: disc inside;
	margin-bottom: 20px;
	line-height: 1.8em;
}

#services ul a,
#support ul a{
}


/* news */
/* news */

#news{
	padding-right: 0;
	background: none;
	margin-right: 0;
}

#news h1{
	background: url(../img/master-sprite.png) 0 -400px no-repeat;
}

/* news & srevice status shared */

#news ul,
#service-status ul
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#news h2,
#service-status h2
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
	padding: 0px;
	color: #000;
}


/* follow us */
/* follow us */

#follow-us h1{
	background: url(../img/master-sprite.png) 0 -440px no-repeat;
}

#follow-us ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#follow-us li{
	margin-bottom: 20px;
	float: left;
	clear: both;
}

#follow-us img{
	float: left;
}

#follow-us p{
	margin: 0 0 10px 0;
	padding: 0px;
	float: right;
	width: 75%;
}


/* mailing list */
/* mailing list */

#mailing-list h1{
	background: url(../img/master-sprite.png) 0 -480px no-repeat;
}

#mailing-list label{
	display: block;
}

#mailing-list span{
	margin-bottom: 5px;
	display: block;
}

#mailing-list input[type=text]{
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 8px;
	width: 80%;
}

#mailing-list input[type=submit]{
	border: none;
}


/* service status */
/* service status */

#service-status{
	padding-right: 0;
	background: none;
	margin-right: 0;
}

#service-status h1{
	background: url(../img/master-sprite.png) 0 -520px no-repeat;
	padding-top: 58px;
}

#service-status .current-status{
	display: block;
}

#status-list{
	width: 90%;
}

#service-status .current-status img{
	float: left;
	margin-right: 20px;
}

#service-status .green{
	display: none;
}

#service-status .service-alert{
	background: url(../img/master-sprite.png) 0 -130px no-repeat;
	padding-left: 50px;
	min-height: 50px;
}

#service-status .service-ok{
	background: url(../img/master-sprite.png) 0 -590px no-repeat;
	margin-bottom: 10px;
	padding-left: 50px;
	min-height: 50px;
}



/* ----- video pages ----- */
/* ----- video pages ----- */


/* main section and sidebar */
/* main section and sidebar */

#main{
	width: 95.876288659794%; /* 930px / 970px */
	min-height: 200px;
	margin: 0 auto;
}

#main p{
	font-size: 1.076em;
	line-height: 1.5em;
}

#video h1{
	font-family: Swiss721BT-Heavy, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-bottom: 10px;
	font-size: 2.307em; /* 30 / 13 */
	color: #003981;
	padding: 0px;
	margin: 0px;
}

#video h2{
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-bottom: 10px;
	font-weight: normal;
	font-style: italic;
	font-size: 1.076em; /* 14 / 13 */
	padding: 0px;
	margin: 0px;
}

#video h2 span{
	font-style: normal;
	font-weight: bold;
}

#player{
	/* width: 74.193548387097%;  690 / 930 */
	width: 63.38%;
	min-height: 200px;
	float: left;
}

#player video{
	margin-bottom: 20px;
	width: 100%;
	
	  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.6); 
     -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.6); 
          box-shadow:  0px 0px 1px rgba(255,255,255,0.8), 0px 0px 10px rgba(0,0,0,0.6); 
}

#sidebar{
	width: 22.58064516129%; /* 210 / 930 */
	min-height: 200px;
	float: right;
}


/* related videos section */
/* related videos section */

#related-videos ul, #related-videos li{
	list-style: none;
	float: left;
	padding: 0;
	margin: 0;
}

#related-videos ul{
	width: 100%;
}

#related-videos li{
	margin-left:  3.225806451613%; /* 30 / 930 */
	width: 22.58064516129%; /* 210 / 930 */
	display: block;
}

#related-videos li:first-child{
	margin-left: 0;
}

#related-videos img{
	margin-bottom: 20px;
}

#related-videos p{
	padding-top: 0px;
	margin-top: 0px;
}



/* ----- page footer ----- */
/* ----- page footer ----- */

footer{
	margin: 10px auto 0 auto;
	padding-bottom: 20px;
}

footer p{
	text-align: right;
	padding: 0px;
	margin: 0px;
}

#address{
	background: #e1e2e2 url(../img/footer-logo.png) 10px 10px no-repeat;
	padding: 10px;
	color: #666;
}

#global-footer{
	background-color: #999;
	display: block;
	padding: 10px;
	color: #fff
}

#global-footer a{
	color: #fff;
}

#direct-edit-link{
	display: none;
}



/* ----- media-queries ----- */
/* ----- media-queries ----- */


/* tablet layout */
/* tablet layout */

@media screen and (max-width: 1000px) {

	
/* ----- header ----- */
/* ----- header ----- */

.responsive #search input[type=text]{
	width: 150px;
}

.responsive #global-nav li a{
	background-image: none!important;
	padding-right: 0!important;

}



/* ----- inside page content ----- */
/* ----- inside page content ----- */

.responsive .content,
.responsive .microsite-home .content{
	background: none;
	padding-right: 0;
	margin-right: 0;
	width: 100%;
	float: none;
}

.responsive aside, .microsite-home aside{
	width: 100%;
	float: none;
}



/* ----- video content ----- */
/* ----- video content ----- */

.responsive #player,
.responsive #sidebar{
	width: 100%;
	float:none;
}

.responsive #related-videos li{
	margin-left: 0;
	width: 100%;
	clear: both;
}

.responsive #related-videos li img{
	margin-right: 3.225806451613%;
	width: 48.35%;
	float: left;
}

.responsive #related-videos li p{
	float: right;
	width: 48.35%;
}



/* ----- home page content ----- */
/* ----- home page content ----- */

.responsive .computing-home-module{
	padding-right: 1.56%; /* 15 / 960 */
	margin-right: 1.56%; /* 15 / 960 */
	width: 48.44%;
}


/* hang lines */
/* hang lines */

.responsive #support-hang-line,
.responsive #follow-us-hang-line{
	visibility: visible;
	display: block;
}

.responsive #news-hang-line{
	display: none;
}


/* promo spot */
/* promo spot */

.responsive #promo-spot{
	padding-right: 1.56%; /* 15 / 960 */
	margin-right: 1.56%; /* 15 / 960 */
	width: 48.44%; /* 300 / 960 */
}

.responsive #promo-spot span{
	position: static;
	width: 100%;
}


/* quick links */
/* quick links */


/* news */
/* news */

.responsive #news{
	background: url(../img/microsite/vertical-divider.png) top right repeat-y;
	padding-right: 1.56%; /* 15 / 960 */
	margin-right: 1.56%; /* 15 / 960 */
	width: 48.44%;
}


/* services */
/* services */

.responsive #services{
	padding-right: 1.56%; /* 15 / 960 */
	margin-right: 1.56%; /* 15 / 960 */
	width: 48.44%;
}


/* support */
/* support */

.responsive #support{
	background: none;
	padding: 0;
	margin: 0;
}


/* follow us */
/* follow us */

.responsive #follow-us{
	padding-right: 0px;
	margin-right: 0px;
	background: none;
}


/* ----- microsite home page ----- */
/* ----- microsite home page ----- */

.responsive .microsite-home .content{
	background: url(../img/microsite/horizontal-divider.png) bottom left repeat-x;
	padding-bottom: 20px;
	margin-bottom: 20px;
}


}


/* handehld devices */
/* handehld devices */

@media screen and (max-width: 550px) {


/* ----- header ----- */
/* ----- header ----- */

.responsive #container{
	padding: 25px 5%;
	width: 80%;
}

.ie8 .responsive #container,
.ie8 .responsive #container{
	min-width: 260px;
}

.responsive #masthead{
	margin-bottom: -10px;
	border: none;
}

.responsive #uni-home-link{
	background: url(../img/logo-narrow.png) top left no-repeat;
	padding-top: 36px;
	overflow: hidden;
	display: block;
	float: left;
	width: 169px;
	height: 0px;
}

.responsive #dept-home-link a{
	background: url(../img/h1-narrow.png) top left no-repeat;
	padding-top: 36px;
	overflow: hidden;
	display: block;
	height: 0px;
	width: 82px;
	}

.responsive #global-and-search{
	position: relative;
	margin-bottom: 20px;
	padding-left: 0;
	display: block;
}

.responsive #global-nav{
	display: none;
}

.responsive #search{
	width: 100%;
}

.responsive #search input[type=text]{
	width: 70%;
}

.responsive #search input[type=submit]{
	display: none;
}

.responsive #search .ready,
.no-js .responsive #search input[type=submit]{
	display: block!important;
}

.responsive #search .search-button{
	float: right;
	width: 20%;
}

.ie8 #search .search-button{
	margin-top: -3px;
}

.ie9 #search .search-button{
	top: 0px;
}




/* ----- navigation ----- */
/* ----- navigation ----- */

.responsive #breadcrumb{
	width: 100%;
}

.responsive #breadcrumb li:nth-child(-n+2),
.responsive #breadcrumb li:nth-child(n+5)
{
	display: none;
}

.responsive #breadcrumb li:nth-child(3){
	text-indent: 10px;
}

.responsive #site-navigation{
	margin-bottom: 20px;
	width: 100%;
}

.responsive #navigation li a{
	width: 91.68%;
}

.responsive #site-navigation ul,
.responsive #site-navigation #faculty-link{
	display: none;
}

.responsive #site-navigation .ready{ /* the 'ready' state is applied by javascript after all the magik is done to render the menu - this stops it flashing up as an unstyled list while the page loads */
	display: block;
	width: 100%;
}



/* ----- content ----- */
/* ----- content ----- */

.responsive #main-content{
	width: 100%;
}

.responsive aside{
	width: 100%;
}

.responsive #related-videos li img{
	display: none;
}

.responsive #related-videos li p{
	float: none;
	width: 100%;
}

.responsive footer p{
	text-align: center;
}

.responsive #address{
	background-image: none;
}

.responsive .content blockquote{
	padding: 10px 4.34% 40px 8.68%;
	width: 87.02%;
}




/* ----- microsite home page ----- */
/* ----- microsite home page ----- */

.responsive #microsite-markets li{
	margin: 0 0 10px 0;
	display: block;
	float: left;
	clear: both;
	width: 100%;
}

.responsive #microsite-markets .call-to-action {
	padding: 5px 5%;
	width: 90%;
}

.responsive .microsite-home .sidebar{
	background: url(../img/microsite/horizontal-divider.png) bottom left repeat-x;
	padding-bottom: 20px;
	margin-bottom: 20px;
	float: left;
	clear:both;
}

.responsive .microsite-home .content{
	padding-bottom: 0;
	margin-bottom: 0;
	background: none;
}



/*
.microsite-home .sidebar{
	background: url(../img/microsite/horizontal-divider.png) top left repeat-x;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
*/


/* ----- home page ----- */
/* ----- home page ----- */

.responsive #computing-services-home .call-to-action{
	max-width: 100%;
	padding: 5px 0;
	width: 100%;
}

.responsive .computing-home-module,
.responsive #services,
.responsive #support,
.responsive #news,
.responsive #promo-spot{
	background: none;
	width: 100%;
	float: left;
	clear: both;
	padding: 0%;
	margin: 0%;
}

.responsive #support-hang-line,
.responsive #follow-us-hang-line,
.responsive #promo-spot-hang-line,
.responsive #services-hang-line,
.responsive #mailing-list-hang-line,
.responsive #news-hang-line{
	display: block;
}


/* ----- footer ----- */
/* ----- footer ----- */

#google_translate_element{
	display: none;
}


}

