﻿@charset "UTF-8";
/* CSS Document */

/* ----- helper classes ----- */
/* ----- helper classes ----- */

.visually-hidden{
	display: none;
}

*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}


/* ----- body ----- */
/* ----- body ----- */

html{
	font-family: "Helvetica Neue", Arial;
	position: relative;
}

body{
	background: #f7f8f8 url(../Content/images/body-bg.svg) top left repeat-y;
}

/* ----- header ----- */
/* ----- header ----- */

header{
	color: white;
	font-size: 20px;
	position: fixed;
	z-index: 5000;
	min-height: 60px;
	width: 100%;
	top: 0px;
	-moz-box-sizing: content-box;
	
	text-shadow: 0 -1px 0 rgba(0,0,0,0.8);

	background-color: #24427a;
	

  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);

}

header h1{
	position: relative;
	top: 11px;
	left: 50%;
	display: block;
	margin-left: -80px;
	width: 160px;
	overflow:hidden;
	height: 0px;
	padding-top: 60px;
	background: url(http://csdsite.liv.ac.uk/css/images/app-heading.png) top left no-repeat;
}

header #menu-control{
	display: block;
	position: absolute;
	background: url(http://csdsite.liv.ac.uk/css/images/menu-button.png)  50% 50% no-repeat;
	right: 20px;
	top: 15px;
	width: 45px;
	height: 0;
	padding-top: 30px;
	overflow: hidden;
	border: 1px solid #1b335f;
	border-radius: 3px;
}

header #back-button{
	display: block;
	position: absolute;
	background: url(http://csdsite.liv.ac.uk/css/images/back-button.png)  50% 50% no-repeat;
	left: 20px;
	top: 15px;
	width: 45px;
	height: 0;
	padding-top: 30px;
	overflow: hidden;
	border: 1px solid #1b335f;
	border-radius: 3px;
}

header #back-button.disabled{
	opacity: 0.3;
}


/* menu */

header nav a{
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
	display: block;
	padding: 20px 20px;
	line-height: 20px;
	border-top: 1px solid #fff;
	color: #fff;

}

#menu{
 	color: #fff;
}

/* menu style for non-javascript users */


.no-js #menu{
	max-height: 0;
	overflow: hidden;
	display: block;
}

.no-js #menu:target{
	max-height: 300px;
}

.no-js #back-button{
	display: none!important;
}

.no-js header h1{
	left: 30px;
	margin-left: 0px;
}

.no-js * {
  -webkit-transition: all 1s ease;
  -moz-transition:    all 1s ease;
  -ms-transition:     all 1s ease;
  -o-transition:      all 1s ease;
}


/* ----- main content area ----- */
/* ----- main content area ----- */

section{
	position: relative;
	top: 60px;
	color: #999;
	padding-bottom: 20px;
}


/* ----- navigation list styles ----- */
/* ----- navigation list styles ----- */

#administration-page h1{
	margin: 20px;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 20px;


	background-color: #e2670a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e2670a), to(#cb5201));
	background-image: -webkit-linear-gradient(top, #e2670a, #cb5201);
	background-image:    -moz-linear-gradient(top, #e2670a, #cb5201);
	background-image:      -o-linear-gradient(top, #e2670a, #cb5201);
	background-image:         linear-gradient(to bottom, #e2670a, #cb5201);
}

.navigation-list li{
	margin: 20px;
	border-radius: 10px;
	border: 1px solid #e3e3e3;
	
	background: #e7e7e7 url(../img/sport-liverpool-arrows.svg) right 50% no-repeat;	
	
	background: #e7e7e7;
	background: url(../img/sport-liverpool-arrows.svg) right 50% no-repeat, -moz-linear-gradient(top, #fcfcfc, #e7e7e7);
	background: url(../img/sport-liverpool-arrows.svg) right 50% no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(#fcfcfc), color-stop(#e7e7e7));
	background: url(../img/sport-liverpool-arrows.svg) right 50% no-repeat, -webkit-linear-gradient(top,  #fcfcfc,#e7e7e7);
	background: url(../img/sport-liverpool-arrows.svg) right 50% no-repeat, -o-linear-gradient(top,  #fcfcfc,#e7e7e7);
	background: url(../img/sport-liverpool-arrows.svg) right 50% no-repeat, -ms-linear-gradient(top,  #fcfcfc,#e7e7e7);
	background: url(../img/sport-liverpool-arrows.svg) right 50% no-repeat, linear-gradient(to bottom,  #fcfcfc,#e7e7e7);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e7e7e7',GradientType=0 );
}


.navigation-list li a{
	text-decoration: none;
	display: block;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.9);
	padding: 20px;
	font-weight: bold;
	color: #373737;
	font-size: 24px;
}


/* ----- event details ----- */
/* ----- event details ----- */


#content,
.event{
	margin: 20px;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #e3e3e3;
	color: #373737;
	
	background: #e7e7e7;	
	
	background: #e7e7e7;
	background: -moz-linear-gradient(top, #fcfcfc, #e7e7e7);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(#fcfcfc), color-stop(#e7e7e7));
	background: -webkit-linear-gradient(top,  #fcfcfc,#e7e7e7);
	background: -o-linear-gradient(top,  #fcfcfc,#e7e7e7);
	background: -ms-linear-gradient(top,  #fcfcfc,#e7e7e7);
	background: linear-gradient(to bottom,  #fcfcfc,#e7e7e7);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e7e7e7',GradientType=0 );
}

#content h1{
	display: block;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.9);
	font-weight: bold;
	font-size: 24px;
	border-bottom: 1px solid #373737;
	padding: 0 0 10px 0;
	margin: 0 0 20px 0;
}

#content div{
	margin-bottom: 10px;
}

#content label{
	width: 30%;
	padding-right: 10px;
	display: inline-block;
}

#content input,
#content select
{
	vertical-align: top;
	width: 50%;
	padding: 5px;
}

#content button{
	padding: 10px;
	margin: 10px 0 0 0;
	border-radius: 10px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border: none;
	width: 100%;
	cursor: pointer;


	background-color: #e2670a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e2670a), to(#cb5201));
	background-image: -webkit-linear-gradient(top, #e2670a, #cb5201);
	background-image:    -moz-linear-gradient(top, #e2670a, #cb5201);
	background-image:      -o-linear-gradient(top, #e2670a, #cb5201);
	background-image:         linear-gradient(to bottom, #e2670a, #cb5201);
}

.event p{
	margin-bottom: 1em;
}

#loader {
    display:none;
    background-image: url('images/ajax-loader.gif');
    height: 31px;
    width: 31px;
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -15px;
}


/* handehld devices */
/* handehld devices */

@media screen and (max-width: 550px) {

header #menu-control{
	right: 10px;
}

header #back-button{
	left: 10px;
}

#administration-page h1{
	margin: 20px 10px;
	padding: 15px 10px;
	font-size: 16px;
}


.navigation-list li{
	margin: 10px;
	background-size: 40px auto, auto;
}

.navigation-list li a{
	padding: 10px;
	font-size: 20px;
}

#content,
.event
{
	padding: 10px;
	margin: 20px 10px 10px 10px;
}

#content input,
#content select{
	width: 60%;
}

}
