 @font-face {font-family: 'Swiss721BT-Heavy';src: url('eot/style_48.eot');src: url('eot/style_48.eot?#iefix') format('embedded-opentype'),url('woff/style_48.woff') format('woff'),url('ttf/style_48.ttf') format('truetype'),url('svg/style_48.svg#Swiss721BT-Heavy') format('svg');}
 @font-face {font-family: 'Swiss721BT-HeavyItalic';src: url('eot/style_49.eot');src: url('eot/style_49.eot?#iefix') format('embedded-opentype'),url('woff/style_49.woff') format('woff'),url('ttf/style_49.ttf') format('truetype'),url('svg/style_49.svg#Swiss721BT-HeavyItalic') format('svg');}
