 @font-face {font-family: 'Swiss721GreekBT-Light';src: url('eot/style_15.eot');src: url('eot/style_15.eot?#iefix') format('embedded-opentype'),url('woff/style_15.woff') format('woff'),url('ttf/style_15.ttf') format('truetype'),url('svg/style_15.svg#Swiss721GreekBT-Light') format('svg');}
